In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading CASE-SHILLER Index into a dataframe
df_CS = pd.read_csv("Home-Price-Index.csv")

# Changing dtype of date column
df_CS["DATE"] = pd.to_datetime(df_CS["DATE"])

# Selecting data till JULY 2023
mask = df_CS["DATE"] <= "2023-07-01"
df_CS = df_CS[mask]

#Resetting Index
df_CS.reset_index(inplace = True)
df_CS.drop(columns = ["index"], inplace = True)

# Creating "Year" and "Month" columns
df_CS["Year"] = pd.DatetimeIndex(df_CS["DATE"]).year
df_CS["Month"] = pd.DatetimeIndex(df_CS["DATE"]).month
print("Shape of the CASE-SHILLER Index:- ", df_CS.shape)
df_CS.tail()

,CSUSHPISA,Year,Month,UNRATE,FedFunds,Per_Capita_GDP,CPI,PopulationGrowthRate
DATE,,,,,,,,
1987-01-01,63.964,1987.0,1.0,6.6,6.43,4722.156,111.4,0.893829
1988-01-01,68.858,1988.0,1.0,5.7,6.83,5073.372,116.0,0.907999
1989-01-01,73.946,1989.0,1.0,5.4,9.12,5511.253,121.2,0.944406
1990-01-01,76.897,1990.0,1.0,5.4,8.23,5872.701,127.5,1.129651
1991-01-01,75.915,1991.0,1.0,6.4,6.91,6035.178,134.7,1.336261

In [3]:
# Reading Unemployment Rate Data into a dataframe
df_unemp = pd.read_csv("Unemployment-Rate.csv")
df_unemp.drop([259], inplace = True)
print("Unemployment Rate Data:- ", df_unemp.shape)
df_unemp.tail()

In [4]:
# CSVファイルの読み込み
df_fedfunds = pd.read_csv("FedFunds.csv")
# 列名の変更
df_fedfunds = df_fedfunds.rename(columns={'FEDFUNDS': 'FedFunds'})

# 特定の行を削除（この例では不要なのでコメントアウト）
# df_fedfunds.drop([259], inplace=True)
# データの形状を出力
# print("Shape of the Fed Funds Data:", df_fedfunds.shape)
# 最後の5行を表示
df_fedfunds.tail()

,CSUSHPISA,UNRATE,FedFunds,Per_Capita_GDP,CPI,PopulationGrowthRate
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,135.571417,5.769444,3.129444,12783.230722,191.522444,0.910591
std,55.454402,1.511068,2.718450,5654.706062,47.042945,0.274324
min,63.964000,3.500000,0.070000,4722.156000,111.400000,0.156747
25%,81.481250,4.675000,0.297500,7781.923250,153.650000,0.733540
50%,139.064000,5.600000,2.710000,12345.366500,188.950000,0.926641
75%,174.167250,6.600000,5.470000,16785.576250,232.446000,1.134323
max,285.829000,9.800000,9.120000,25029.116000,282.599000,1.386886

In [55]:
# Reading Per Capita GDP Data into a dataframe
df_pcgdp = pd.read_csv("GDP.csv", names = ["DATE", "A939RX0Q048SBEA"], skiprows = 1)
df_pcgdp = df_pcgdp.rename(columns={'A939RX0Q048SBEA': 'Per_Capita_GDP'})
print("Shape of the Per Capita GDP Data:- ", df_pcgdp.shape)
df_pcgdp.tail()

Shape of the Per Capita GDP Data:-  (307, 2)

           DATE  Per_Capita_GDP
302  2022-07-01       25994.639
303  2022-10-01       26408.405
304  2023-01-01       26813.601
305  2023-04-01       27063.012
306  2023-07-01       27623.543

In [56]:
# CSVファイルの読み込み
df_mortgage = pd.read_csv("Mortgage.csv")
# 列名の変更
df_mortgage = df_mortgage.rename(columns={'MORTGAGE30US': 'MortgageRate'})
# 特定の行を削除（この例では不要なのでコメントアウト）
# df_mortgage.drop([259], inplace=True)
# データの形状を出力
print("Shape of the Mortgage Rate Data:", df_mortgage.shape)
# 最後の5行を表示
df_mortgage.tail()

Shape of the Mortgage Rate Data: (2744, 2)

            DATE  MortgageRate
2739  2023-09-28          7.31
2740  2023-10-05          7.49
2741  2023-10-12          7.57
2742  2023-10-19          7.63
2743  2023-10-26          7.79

In [57]:
# Consumer Price Index
df_CPI = pd.read_csv("Consumer-Price-Index.csv", names = ["DATE", "CPIAUCSL"], skiprows = 1).drop([259])
df_CPI = df_CPI.rename(columns={'CPIAUCSL': 'CPI'})
print("Shape of the Consumer Price Index:- ", df_CPI.shape)
df_CPI.tail()

Shape of the Consumer Price Index:-  (920, 2)

           DATE      CPI
916  2023-05-01  303.294
917  2023-06-01  303.841
918  2023-07-01  304.348
919  2023-08-01  306.269
920  2023-09-01  307.481

In [58]:
# CSVファイルの読み込み
df_population_growth = pd.read_csv("Population-Growth.csv")
# DATE列を適切な日付形式に変換
df_population_growth['DATE'] = pd.to_datetime(df_population_growth['DATE'], format="%Y-%m-%d").dt.strftime("%Y-%m-%d")

# 列名の変更（必要に応じて）
df_population_growth = df_population_growth.rename(columns={'SPPOPGROWUSA': 'PopulationGrowthRate'})

# データの形状を出力
print("Shape of the Population Growth Rate Data:", df_population_growth.shape)

# 最後の5行を表示
df_population_growth.tail()

Shape of the Population Growth Rate Data: (62, 2)

          DATE  PopulationGrowthRate
57  2018-01-01              0.526435
58  2019-01-01              0.455381
59  2020-01-01              0.964348
60  2021-01-01              0.156747
61  2022-01-01              0.377565

In [59]:
# Concating dataframes having monthly data to create one dataframe
df = pd.DataFrame()
df_bymonth = [
    df_CS, 
    df_unemp, 
    df_fedfunds, 
    df_pcgdp, 
    # df_mortgage, 
    df_CPI,
    df_population_growth]
for df1 in df_bymonth:
    df1["DATE"] = pd.to_datetime(df1["DATE"])
    df1 = df1.set_index("DATE")
    df = pd.concat([df,df1], axis = 1)
print(df.shape)
df.head()
df.tail()

(921, 8)

,CSUSHPISA,Year,Month,UNRATE,FedFunds,Per_Capita_GDP,CPI,PopulationGrowthRate
DATE,,,,,,,,
2023-05-01,302.685,2023.0,5.0,3.7,5.06,NaN,303.294,NaN
2023-06-01,304.741,2023.0,6.0,3.6,5.08,NaN,303.841,NaN
2023-07-01,306.720,2023.0,7.0,3.5,5.12,27623.543,304.348,NaN
2023-08-01,NaN,NaN,NaN,3.8,5.33,NaN,306.269,NaN
2023-09-01,NaN,NaN,NaN,3.8,5.33,NaN,307.481,NaN

In [60]:
# # 他のデータフレームをマージする
# others = [df_population_growth]
# for df1 in others:
#     if "DATE" in df1.columns:
#         if "Year" not in df1.columns:
#             df1["Year"] = pd.DatetimeIndex(df1["DATE"]).year
#             df1.set_index("DATE", inplace=True)
#             df = pd.merge(df, df1, how="left", on="Year")
#         else:
#             df1.set_index("DATE", inplace=True)
#             df = pd.merge(df, df1, how="left", on="Year")
#     else:
#         print("Error: 'DATE' column is missing in the dataframe.")
#         continue

# df["DATE"] = df_CS["DATE"]
# df.set_index("DATE", inplace=True)
# print(df.head())
# print(df.tail())

In [61]:
print(df.shape)

(921, 8)

In [62]:
df.isna().sum()

CSUSHPISA               482
Year                    482
Month                   482
UNRATE                   13
FedFunds                 90
Per_Capita_GDP          614
CPI                       1
PopulationGrowthRate    859
dtype: int64

In [63]:
# Filling missing values in the Per_Capita_GDP column using linear interpolation
df["Per_Capita_GDP"] = df["Per_Capita_GDP"].interpolate()
df

,CSUSHPISA,Year,Month,UNRATE,FedFunds,Per_Capita_GDP,CPI,PopulationGrowthRate
DATE,,,,,,,,
1947-01-01,NaN,NaN,NaN,NaN,NaN,243.164000,21.480,NaN
1947-02-01,NaN,NaN,NaN,NaN,NaN,244.098667,21.620,NaN
1947-03-01,NaN,NaN,NaN,NaN,NaN,245.033333,22.000,NaN
1947-04-01,NaN,NaN,NaN,NaN,NaN,245.968000,22.000,NaN
1947-05-01,NaN,NaN,NaN,NaN,NaN,247.173667,21.950,NaN
...,...,...,...,...,...,...,...,...
2023-05-01,302.685,2023.0,5.0,3.7,5.06,27249.855667,303.294,NaN
2023-06-01,304.741,2023.0,6.0,3.6,5.08,27436.699333,303.841,NaN
2023-07-01,306.720,2023.0,7.0,3.5,5.12,27623.543000,304.348,NaN
2023-08-01,NaN,NaN,NaN,3.8,5.33,27623.543000,306.269,NaN
2023-09-01,NaN,NaN,NaN,3.8,5.33,27623.543000,307.481,NaN

In [64]:
df.dropna(inplace = True)

In [65]:
df.isna().sum()

CSUSHPISA               0
Year                    0
Month                   0
UNRATE                  0
FedFunds                0
Per_Capita_GDP          0
CPI                     0
PopulationGrowthRate    0
dtype: int64

In [66]:
df

,CSUSHPISA,Year,Month,UNRATE,FedFunds,Per_Capita_GDP,CPI,PopulationGrowthRate
DATE,,,,,,,,
1987-01-01,63.964,1987.0,1.0,6.6,6.43,4722.156,111.400,0.893829
1988-01-01,68.858,1988.0,1.0,5.7,6.83,5073.372,116.000,0.907999
1989-01-01,73.946,1989.0,1.0,5.4,9.12,5511.253,121.200,0.944406
1990-01-01,76.897,1990.0,1.0,5.4,8.23,5872.701,127.500,1.129651
1991-01-01,75.915,1991.0,1.0,6.4,6.91,6035.178,134.700,1.336261
1992-01-01,76.086,1992.0,1.0,7.3,4.03,6363.102,138.300,1.386886
1993-01-01,76.783,1993.0,1.0,7.3,3.02,6729.459,142.800,1.318680
1994-01-01,78.590,1994.0,1.0,6.6,3.05,7115.652,146.300,1.226296
1995-01-01,80.426,1995.0,1.0,5.6,5.53,7522.289,150.500,1.190787
1996-01-01,81.833,1996.0,1.0,5.6,5.56,7868.468,154.700,1.163412
1997-01-01,83.954,1997.0,1.0,5.3,5.25,8362.655,159.400,1.203960
1998-01-01,87.614,1998.0,1.0,4.6,5.56,8866.480,162.000,1.165715
1999-01-01,93.207,1999.0,1.0,4.3,4.63,9411.682,164.700,1.148340
2000-01-01,100.551,2000.0,1.0,4.0,5.45,10002.179,169.300,1.112769
2001-01-01,109.846,2001.0,1.0,4.2,5.98,10470.231,175.600,0.989741
2002-01-01,117.143,2002.0,1.0,5.7,1.73,10783.500,177.700,0.927797
2003-01-01,128.461,2003.0,1.0,5.8,1.24,11174.129,182.600,0.859482
2004-01-01,141.646,2004.0,1.0,5.7,1.00,11923.447,186.300,0.925484
2005-01-01,161.288,2005.0,1.0,5.3,2.28,12767.286,191.600,0.921713
2006-01-01,182.321,2006.0,1.0,4.7,4.29,13599.160,199.300,0.964254
2007-01-01,184.517,2007.0,1.0,4.6,5.25,14215.651,203.437,0.951055
2008-01-01,173.132,2008.0,1.0,5.0,3.94,14706.538,212.174,0.945865
2009-01-01,151.507,2009.0,1.0,7.8,0.15,14430.902,211.933,0.876651
2010-01-01,147.396,2010.0,1.0,9.8,0.11,14764.610,217.488,0.829617
2011-01-01,141.521,2011.0,1.0,9.1,0.17,15351.448,221.187,0.726787
2012-01-01,136.607,2012.0,1.0,8.3,0.08,16068.805,227.842,0.733600
2013-01-01,146.827,2013.0,1.0,8.0,0.14,16648.189,231.679,0.692860
2014-01-01,161.927,2014.0,1.0,6.6,0.07,17197.738,235.288,0.733362
2015-01-01,168.634,2015.0,1.0,5.7,0.11,18063.529,234.747,0.736217
2016-01-01,177.273,2016.0,1.0,4.8,0.34,18525.933,237.652,0.724676
2017-01-01,186.801,2017.0,1.0,4.7,0.65,19280.084,243.618,0.632644
2018-01-01,198.303,2018.0,1.0,4.0,1.41,20328.553,248.859,0.526435
2019-01-01,206.517,2019.0,1.0,4.0,2.40,21104.133,252.718,0.455381
2020-01-01,214.954,2020.0,1.0,3.5,1.55,21706.513,259.037,0.964348
2021-01-01,239.497,2021.0,1.0,6.3,0.09,22600.185,262.650,0.156747
2022-01-01,285.829,2022.0,1.0,4.0,0.08,25029.116,282.599,0.377565

In [67]:
print("Shape of the dataframe after preprocessing:- ", df.shape)

Shape of the dataframe after preprocessing:-  (36, 8)

In [68]:
df.to_csv("prepared_dataset.csv")

In [69]:
us_house_price_df = pd.read_csv("prepared_dataset.csv").set_index("DATE")
us_house_price_df.head()

,CSUSHPISA,Year,Month,UNRATE,FedFunds,Per_Capita_GDP,CPI,PopulationGrowthRate
DATE,,,,,,,,
1987-01-01,63.964,1987.0,1.0,6.6,6.43,4722.156,111.4,0.893829
1988-01-01,68.858,1988.0,1.0,5.7,6.83,5073.372,116.0,0.907999
1989-01-01,73.946,1989.0,1.0,5.4,9.12,5511.253,121.2,0.944406
1990-01-01,76.897,1990.0,1.0,5.4,8.23,5872.701,127.5,1.129651
1991-01-01,75.915,1991.0,1.0,6.4,6.91,6035.178,134.7,1.336261